.container {
  max-width: 1000px;
  width: 90vw;
  margin: 1.5rem auto;
  padding: 1rem;
  font-family: Arial, sans-serif;
  text-align: center;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  font-family: "Tajawal", sans-serif;
}

.link {
  color: #5599a3;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #f2f2ed;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.link:hover {
  background-color: #5599a3;
  color: #f2f2ed;
}

.pdfContainer {
  border: 1px solid #ccc;
  padding: 1rem;
}

@media (max-width: 640px) {
  .container {
    width: 95vw;
    padding: 0.5rem;
  }
}
